# Poetry

.venv/
poetry.lock
Environment
.env

Python
pycache/
*.pyc
.vscode/launch.json

.pytest_cache/
**/__pycache__/

# Build artifacts
**/*.egg-info/

# Coverage reports
.coverage
htmlcov/
coverage.xml
*.cover
.hypothesis/
